node_modules/
dist/
.env
.DS_Store
Thumbs.db

/frontend/node_modules/
/frontend/dist/
/frontend/.env

/backend/node_modules/
/backend/dist/
/backend/.env

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/tmp
/out
!.gitkeep

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

*.swp
*.lock
*.bak
*.tmp
*.temp
*.pid
*.seed
*.pid.lock

/frontend/**/*.tsbuildinfo
/backend/**/*.tsbuildinfo

package-lock.json
yarn.lock
